

.main {
  height: 100%;
  background: #fff;
  /* border: 1px solid rgb(117, 230, 245); */
}

img + div {
  display: flex !important;
  flex-direction: column !important;
  justify-content: space-between !important;
}
/* 스크롤바 설정*/
img + div > div::-webkit-scrollbar {
  width: 10px;
}

/* 스크롤바 막대 설정*/
img + div > div::-webkit-scrollbar-thumb {
  background-color: rgb(168, 223, 224);
  /* 스크롤바 둥글게 설정    */
  border-radius: 10px;
}

/* 스크롤바 뒷 배경 설정*/
img + div > div::-webkit-scrollbar-track {
  background-color: rgba(0, 0, 0, 0);
}

img + div > div {
  overflow-y: scroll;
}
img {
  width: 15vw;
  max-height: 300px;
}
img + div {
  width: 35vw;
  max-height: 300px;
}
@media (max-width: 992px) {
  img {
    width: 30vw;
    height: 40vw;
  }
  img + div {
    width: 70vw;
    height: 40vw;
  }
}
