a,
a:hover {
  color: black;
}

.login-form-forgot {
  font-size: small;
}

body {
  background-color: white;
}

/*폰트 설정 */
@font-face {
  font-family: 'LINESeedKR-Bd';
  src: url('./fonts/LINESeedKR-Bd.woff');
  font-weight: 700;
}

@font-face {
  font-family: 'LINESeedKR-Rg';
  src: url('./fonts/LINESeedKR-Rg.woff');
  font-weight: 400;
}

.App {
  font-family: 'LineSeedKR-Bd';
}
