nav a,
nav a:hover,nav span {
  color: rgb(237, 233, 233);
}

.login-form-forgot {
  font-size: small;
}

body {
  color: #fff;
}
.ant-space-item {
  color: #fff;
}
/*폰트 설정 */
@font-face {
  font-family: 'LINESeedKR-Bd';
  src: url('./fonts/LINESeedKR-Bd.woff');
  font-weight: 700;
}

@font-face {
  font-family: 'LINESeedKR-Rg';
  src: url('./fonts/LINESeedKR-Rg.woff');
  font-weight: 400;
}

.App {
  font-family: 'LineSeedKR-Bd';
}
